{% extends "base.html" %} 
{% block title %}Code Python{% endblock %}

{% block content %}
<section>
    <h3 align="center">Python Code Editor</h3>
    <div 
        id="editor">
    </div>
    <br>
    <button type="button" class="btn btn-primary" onclick="executeCode()">Run Code</button>
    <button type="button" class="btn btn-success" onclick="clearEditor()">Clear Code</button>

    <section>
        <div 
            id="output">
        </div>
        <input 
            id="user-input" 
            placeholder="Enter input!" 
            style="display:none;" 
            onkeypress="handleInput(event)"
        >
    </section>

    <footer>
        <p>&copy; 2024 Dev_aladinh production</p>
    </footer> 

</section>
{% endblock %}